In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./movies.csv")
df

,tconst,primaryTitle,startYear,rank,averageRating,numVotes,runtimeMinutes,directors,writers,genres,IMDbLink,Title_IMDb_Link
0,tt0111161,The Shawshank Redemption,1994,1,9.3,3152846,142,Frank Darabont,"Stephen King, Frank Darabont",Drama,"<a href=""https://www.imdb.com/title/tt0111161""...","<a href=""https://www.imdb.com/title/tt0111161""..."
1,tt0068646,The Godfather,1972,2,9.2,2200213,175,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola","Crime, Drama","<a href=""https://www.imdb.com/title/tt0068646""...","<a href=""https://www.imdb.com/title/tt0068646""..."
2,tt0468569,The Dark Knight,2008,3,9.1,3129006,152,Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go...","Action, Crime, Drama","<a href=""https://www.imdb.com/title/tt0468569""...","<a href=""https://www.imdb.com/title/tt0468569""..."
3,tt0167260,The Lord of the Rings: The Return of the King,2003,4,9.0,2141452,201,Peter Jackson,"J.R.R. Tolkien, Fran Walsh, Philippa Boyens, P...","Adventure, Drama, Fantasy","<a href=""https://www.imdb.com/title/tt0167260""...","<a href=""https://www.imdb.com/title/tt0167260""..."
4,tt0108052,Schindler's List,1993,5,9.0,1571520,195,Steven Spielberg,"Thomas Keneally, Steven Zaillian","Biography, Drama, History","<a href=""https://www.imdb.com/title/tt0108052""...","<a href=""https://www.imdb.com/title/tt0108052""..."
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,tt1632708,Friends with Benefits,2011,4996,6.5,417294,109,Will Gluck,"Keith Merryman, David A. Newman, Will Gluck, H...","Comedy, Romance","<a href=""https://www.imdb.com/title/tt1632708""...","<a href=""https://www.imdb.com/title/tt1632708""..."
4996,tt0477347,Night at the Museum,2006,4997,6.5,405025,108,Shawn Levy,"Robert Ben Garant, Thomas Lennon, Milan Trenc","Adventure, Comedy, Family","<a href=""https://www.imdb.com/title/tt0477347""...","<a href=""https://www.imdb.com/title/tt0477347""..."
4997,tt0438488,Terminator Salvation,2009,4998,6.5,390921,115,McG,"John Brancato, Michael Ferris","Action, Adventure, Sci-Fi","<a href=""https://www.imdb.com/title/tt0438488""...","<a href=""https://www.imdb.com/title/tt0438488""..."
4998,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,2017,4999,6.5,380317,129,"Joachim Rønning, Espen Sandberg","Jeff Nathanson, Terry Rossio, Ted Elliott, Stu...","Action, Adventure, Fantasy","<a href=""https://www.imdb.com/title/tt1790809""...","<a href=""https://www.imdb.com/title/tt1790809""..."
4999,tt1320253,The Expendables,2010,5000,6.4,378482,103,Sylvester Stallone,"Dave Callaham, Sylvester Stallone","Action, Adventure, Thriller","<a href=""https://www.imdb.com/title/tt1320253""...","<a href=""https://www.imdb.com/title/tt1320253""..."

In [3]:
df.shape

(5000, 12)

In [4]:
df.columns

Index(['tconst', 'primaryTitle', 'startYear', 'rank', 'averageRating',
       'numVotes', 'runtimeMinutes', 'directors', 'writers', 'genres',
       'IMDbLink', 'Title_IMDb_Link'],
      dtype='object')

In [5]:
df.isna().sum()

tconst              0
primaryTitle        0
startYear           0
rank                0
averageRating       0
numVotes            0
runtimeMinutes      0
directors           0
writers            25
genres              0
IMDbLink            0
Title_IMDb_Link     0
dtype: int64

In [6]:
# Null imputation
a = df["writers"].mode()[0]
a

'Woody Allen'

In [7]:
df['writers'] = df["writers"].fillna("Unknown")

In [8]:
df.isna().sum()

tconst             0
primaryTitle       0
startYear          0
rank               0
averageRating      0
numVotes           0
runtimeMinutes     0
directors          0
writers            0
genres             0
IMDbLink           0
Title_IMDb_Link    0
dtype: int64

In [9]:
df['features'] = df['genres'] + " " + df['directors'] + " " + df['writers']

In [10]:
df

,tconst,primaryTitle,startYear,rank,averageRating,numVotes,runtimeMinutes,directors,writers,genres,IMDbLink,Title_IMDb_Link,features
0,tt0111161,The Shawshank Redemption,1994,1,9.3,3152846,142,Frank Darabont,"Stephen King, Frank Darabont",Drama,"<a href=""https://www.imdb.com/title/tt0111161""...","<a href=""https://www.imdb.com/title/tt0111161""...","Drama Frank Darabont Stephen King, Frank Darabont"
1,tt0068646,The Godfather,1972,2,9.2,2200213,175,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola","Crime, Drama","<a href=""https://www.imdb.com/title/tt0068646""...","<a href=""https://www.imdb.com/title/tt0068646""...","Crime, Drama Francis Ford Coppola Mario Puzo, ..."
2,tt0468569,The Dark Knight,2008,3,9.1,3129006,152,Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Go...","Action, Crime, Drama","<a href=""https://www.imdb.com/title/tt0468569""...","<a href=""https://www.imdb.com/title/tt0468569""...","Action, Crime, Drama Christopher Nolan Jonatha..."
3,tt0167260,The Lord of the Rings: The Return of the King,2003,4,9.0,2141452,201,Peter Jackson,"J.R.R. Tolkien, Fran Walsh, Philippa Boyens, P...","Adventure, Drama, Fantasy","<a href=""https://www.imdb.com/title/tt0167260""...","<a href=""https://www.imdb.com/title/tt0167260""...","Adventure, Drama, Fantasy Peter Jackson J.R.R...."
4,tt0108052,Schindler's List,1993,5,9.0,1571520,195,Steven Spielberg,"Thomas Keneally, Steven Zaillian","Biography, Drama, History","<a href=""https://www.imdb.com/title/tt0108052""...","<a href=""https://www.imdb.com/title/tt0108052""...","Biography, Drama, History Steven Spielberg Tho..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,tt1632708,Friends with Benefits,2011,4996,6.5,417294,109,Will Gluck,"Keith Merryman, David A. Newman, Will Gluck, H...","Comedy, Romance","<a href=""https://www.imdb.com/title/tt1632708""...","<a href=""https://www.imdb.com/title/tt1632708""...","Comedy, Romance Will Gluck Keith Merryman, Dav..."
4996,tt0477347,Night at the Museum,2006,4997,6.5,405025,108,Shawn Levy,"Robert Ben Garant, Thomas Lennon, Milan Trenc","Adventure, Comedy, Family","<a href=""https://www.imdb.com/title/tt0477347""...","<a href=""https://www.imdb.com/title/tt0477347""...","Adventure, Comedy, Family Shawn Levy Robert Be..."
4997,tt0438488,Terminator Salvation,2009,4998,6.5,390921,115,McG,"John Brancato, Michael Ferris","Action, Adventure, Sci-Fi","<a href=""https://www.imdb.com/title/tt0438488""...","<a href=""https://www.imdb.com/title/tt0438488""...","Action, Adventure, Sci-Fi McG John Brancato, M..."
4998,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,2017,4999,6.5,380317,129,"Joachim Rønning, Espen Sandberg","Jeff Nathanson, Terry Rossio, Ted Elliott, Stu...","Action, Adventure, Fantasy","<a href=""https://www.imdb.com/title/tt1790809""...","<a href=""https://www.imdb.com/title/tt1790809""...","Action, Adventure, Fantasy Joachim Rønning, Es..."
4999,tt1320253,The Expendables,2010,5000,6.4,378482,103,Sylvester Stallone,"Dave Callaham, Sylvester Stallone","Action, Adventure, Thriller","<a href=""https://www.imdb.com/title/tt1320253""...","<a href=""https://www.imdb.com/title/tt1320253""...","Action, Adventure, Thriller Sylvester Stallone..."

In [27]:
# encoding using tfidf vectorizer

from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words='english')
feature_matrix = vectorizer.fit_transform(df['features'])

feature_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 44567 stored elements and shape (5000, 8330)>

In [28]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(feature_matrix)

similarity

array([[1.        , 0.00458491, 0.00414035, ..., 0.        , 0.        ,
        0.        ],
       [0.00458491, 1.        , 0.01365641, ..., 0.        , 0.        ,
        0.        ],
       [0.00414035, 0.01365641, 1.        , ..., 0.01438687, 0.00908735,
        0.01084925],
       ...,
       [0.        , 0.        , 0.01438687, ..., 1.        , 0.03113077,
        0.03716656],
       [0.        , 0.        , 0.00908735, ..., 0.03113077, 1.        ,
        0.02347595],
       [0.        , 0.        , 0.01084925, ..., 0.03716656, 0.02347595,
        1.        ]], shape=(5000, 5000))

In [26]:
def recommend(movie_name, top_n=5):
    
    # index of the movie
    index = df[df['primaryTitle'] == movie_name].index[0]
    
    # similarity scores of that movie
    scores = similarity[index]
    
    score_list = []
    
    for i in range(len(scores)):
        score_list.append((scores[i], i))
    
    score_list.sort(reverse=True)
    
    # top similar movies 
    for i in range(1, top_n + 1):
        movie_index = score_list[i][1]
        print(df.iloc[movie_index]['primaryTitle'])

In [31]:
recommend("Inception")

Tenet
Interstellar
Dunkirk
The Prestige
Following

In [32]:
recommend("Titanic")

The Abyss
Avatar
Terminator 2: Judgment Day
The Terminator
Aliens

In [33]:
recommend("The Fast and the Furious")

Harsh Times
End of Watch
Fury
The Fate of the Furious
Fast Five